/* frontend/src/styles/SearchBar.css */
.search-bar-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 35px;
  border-radius: 999px;
  padding: 15px 50px;
  background: rgba(255, 255, 255, 0); /* transparent glass effect */
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.199);
  position: static;
  transition: all 0.3s ease;
  margin: 5px auto;
  cursor: pointer;
  box-sizing: content-box;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  color: var(--light-cream, #fafafa);
  font-size: 30px;
  padding-right: 10px;
}
.search-input::placeholder {
  color: var(--light-cream, #fafafa);
  opacity: 0.7; /* Adjusts the opacity of the placeholder */
}

.search-input:focus {
  color: #6ab853;
  transition: color 0.3s ease;
}
.search-input:focus::placeholder {
  color: #e0f0db;
  opacity: 0.5; /* Adjusts the opacity of the placeholder */
  transition: color 0.3s ease;
}
.search-input:focus-visible {
  outline: none;
}
.search-icon-button {
  position: sticky;
  right: 0px;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: left;
  justify-content: center;
  color: #d7eed1;
  font-size: 20px;
  transition: transform 0.2s ease;
}

.search-icon-button:hover {
  transform: scale(1.1);
}

.search-icon-button:focus {
  outline: none;
}
.search-icon-button:active {
  transform: scale(0.9);
}